<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form  th:action="@{/users}" method="post">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label>Number of Users to Display:</label>
                            <input id="limit" name="limit" type="number" class="form-control"/>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
</body>
</html>